In [6]:
# Import necessary modules
import pandas as pd 
import numpy as np
from numpy import *
import geocoder
import folium
from folium import plugins
from tqdm import tqdm
from folium.plugins import HeatMap
from geopy.geocoders import GoogleV3
import requests
import sklearn
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

# Read the data from the file and store it in a dataframe
cbr_geo = pd.read_csv('indir/cbr-neighbourhood-geo.txt', sep = "\t")

# Inspect the first few rows of the dataframe
print(cbr_geo.head())

# Check the dimensions of the dataframe
print("The dataframe has {} rows and {} columns".format(cbr_geo.shape[0], cbr_geo.shape[1]))

  Neighborhood  Postcode    Country                        Region
0        ACTON      2601  Australia  Australian Capital Territory
1      AINSLIE      2602  Australia  Australian Capital Territory
2       AMAROO      2914  Australia  Australian Capital Territory
3       ARANDA      2614  Australia  Australian Capital Territory
4        BANKS      2906  Australia  Australian Capital Territory
The dataframe has 124 rows and 4 columns

In [7]:
# Import the geocoder module
import geocoder

# Initialize lists to store latitude and longitude
Lat_list = []
Lng_list = []

# Loop through the rows of the dataframe
for i in range(cbr_geo.shape[0]):
    # Geocode the address and store the latitude and longitude in the corresponding lists
    address = '{}, Canberra, Australia'.format(cbr_geo.at[i, 'Neighborhood'])
    g = geocoder.arcgis(address)
    Lat_list.append(g.latlng[0])
    Lng_list.append(g.latlng[1])

# Add the latitude and longitude columns to the dataframe
cbr_geo['Latitude'] = Lat_list
cbr_geo['Longitude'] = Lng_list

# Check the dimensions of the dataframe
print("The dataframe has {} rows and {} columns".format(cbr_geo.shape[0], cbr_geo.shape[1]))

# Inspect the first few rows of the dataframe
cbr_geo.head()

The dataframe has 124 rows and 6 columns

,Neighborhood,Postcode,Country,Region,Latitude,Longitude
0,ACTON,2601,Australia,Australian Capital Territory,-35.28562,149.11827
1,AINSLIE,2602,Australia,Australian Capital Territory,-35.26222,149.14655
2,AMAROO,2914,Australia,Australian Capital Territory,-35.16922,149.12637
3,ARANDA,2614,Australia,Australian Capital Territory,-35.25804,149.08294
4,BANKS,2906,Australia,Australian Capital Territory,-35.47002,149.09773

In [9]:
# initialise Foursquare credentials, version no., and limt
version = '20180604'
limit = 100

# create a function to lookup venues and iterate across in Canberra neighborhoods dataset
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            os.environ['FSQ_CLIENT_ID'], 
            os.environ['FSQ_CLIENT_SECRET'], 
            version, 
            lat, 
            lng, 
            radius, 
            limit)
            
        # create the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [10]:
# Run the above function on each neighborhood and create a new dataframe called Canberra venues
cbr_venues = getNearbyVenues(names=cbr_geo['Neighborhood'],
                             latitudes=cbr_geo['Latitude'],
                             longitudes=cbr_geo['Longitude']
                        )

ACTON
AINSLIE
AMAROO
ARANDA
BANKS
BARTON
BEARD
BELCONNEN
BLACK MOUNTAIN
BONNER
BONYTHON
BRADDON
BRUCE
CALWELL
CAMPBELL
CAPITAL HILL
CASEY
CHAPMAN
CHARNWOOD
CHIFLEY
CHISHOLM
CITY
CONDER
COOK
COOMBS
CRACE
CURTIN
DEAKIN
DENMAN PROSPECT
DICKSON
DOWNER
DUFFY
DUNLOP
DUNTROON
EVATT
FADDEN
FARRER
FISHER
FLOREY
FLYNN
FORDE
FORREST
FRANKLIN
FRASER
FYSHWICK
GARRAN
GILMORE
GIRALANG
GORDON
GOWRIE
GREENWAY
GRIFFITH
GUNGAHLIN
HACKETT
HALL
HARMAN
HARRISON
HAWKER
HIGGINS
HOLDER
HOLT
HUGHES
HUME
ISAACS
ISABELLA PLAINS
JACKA
KALEEN
KAMBAH
KENNY
KINGSTON
KINLYSIDE
LATHAM
LAWSON
LYNEHAM
LYONS
MACARTHUR
MACGREGOR
MACQUARIE
MAJURA
MAWSON
MCKELLAR
MELBA
MITCHELL
MOLONGLO
MONASH
MONCRIEFF
NARRABUNDAH
NGUNNAWAL
NICHOLLS
OAKS ESTATE
O'CONNOR
O'MALLEY
OXLEY
PAGE
PALMERSTON
PARKES
PEARCE
PHILLIP
PIALLIGO
RED HILL
REID
RICHARDSON
RIVETT
RUSSELL
SCULLIN
SPENCE
STIRLING
STROMLO
SYMONSTON
TAYLOR
THARWA
THEODORE
THROSBY
TORRENS
TURNER
URIARRA
WANNIASSA
WARAMANGA
WATSON
WEETANGERA
WESTON
WILLIAMSDALE
WRIGHT
YARRALUMLA

In [10]:
%env FSQ_CLIENT_ID='KL5SVGOS40RKZBQK4G1VXYBKBICWCDQL2NMCASHFYER432SS'
%env FSQ_CLIENT_SECRET='1A5KPYJQIATH0SDZXPPZ5YK0SHLBYVEGPER5AAIIMDXLZ0AB'

env: FSQ_CLIENT_ID='KL5SVGOS40RKZBQK4G1VXYBKBICWCDQL2NMCASHFYER432SS'
env: FSQ_CLIENT_SECRET='1A5KPYJQIATH0SDZXPPZ5YK0SHLBYVEGPER5AAIIMDXLZ0AB'

In [11]:
print(cbr_venues.shape) # check dimensions
cbr_venues.head() # inspect data

(652, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,ACTON,-35.28562,149.11827,Monster Kitchen and Bar,-35.285122,149.122547,Hotel Bar
1,ACTON,-35.28562,149.11827,Palace Electric Cinema,-35.285014,149.123135,Multiplex
2,ACTON,-35.28562,149.11827,National Film & Sound Archive,-35.283131,149.121143,History Museum
3,ACTON,-35.28562,149.11827,Ovolo Nishi,-35.284917,149.122458,Hotel
4,ACTON,-35.28562,149.11827,The Gods Café,-35.282827,149.119645,Coffee Shop

In [12]:
cbr_venues.groupby('Neighborhood').count() # aggregate the number of venues returned for each neighborhood

print('There are {} unique venue categories.'.format(len(cbr_venues['Venue Category'].unique())))
print(cbr_venues.head())

There are 174 unique venue categories.
  Neighborhood  Neighborhood Latitude  Neighborhood Longitude  \
0        ACTON              -35.28562               149.11827
1        ACTON              -35.28562               149.11827
2        ACTON              -35.28562               149.11827
3        ACTON              -35.28562               149.11827
4        ACTON              -35.28562               149.11827

                           Venue  Venue Latitude  Venue Longitude  \
0        Monster Kitchen and Bar      -35.285122       149.122547
1         Palace Electric Cinema      -35.285014       149.123135
2  National Film & Sound Archive      -35.283131       149.121143
3                    Ovolo Nishi      -35.284917       149.122458
4                  The Gods Café      -35.282827       149.119645

   Venue Category
0       Hotel Bar
1       Multiplex
2  History Museum
3           Hotel
4     Coffee Shop

In [13]:
# analyse each neighbourhood
cbr_onehot = pd.get_dummies(cbr_venues[['Venue Category']], prefix="", prefix_sep="") # one hot encoding

cbr_onehot['Neighborhood'] = cbr_venues['Neighborhood'] # add neighborhood column back to dataframe

fixed_columns = [cbr_onehot.columns[-1]] + list(cbr_onehot.columns[:-1]) # move neighborhood column to the first column 
cbr_onehot = cbr_onehot[fixed_columns]

cbr_onehot.head()

,Neighborhood,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Australian Restaurant,Auto Dealership,Auto Garage,Bakery,Bank,...,Track,Trail,Train Station,Turkish Restaurant,Vegetarian / Vegan Restaurant,Veterinarian,Vietnamese Restaurant,Whisky Bar,Wine Bar,Women's Store
0,ACTON,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACTON,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACTON,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACTON,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACTON,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# aggregate
cbr_grouped = cbr_onehot.groupby('Neighborhood').mean().reset_index()
cbr_grouped.head()

,Neighborhood,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Australian Restaurant,Auto Dealership,Auto Garage,Bakery,Bank,...,Track,Trail,Train Station,Turkish Restaurant,Vegetarian / Vegan Restaurant,Veterinarian,Vietnamese Restaurant,Whisky Bar,Wine Bar,Women's Store
0,ACTON,0.0,0.0,0.0,0.0,0.090909,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AINSLIE,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AMAROO,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ARANDA,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BANKS,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# top 5 frequencies

num_top_venues = 5

for hood in cbr_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = cbr_grouped[cbr_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----ACTON----
                   venue  freq
0                  Hotel  0.18
1                   Café  0.18
2              Multiplex  0.09
3    Indie Movie Theater  0.09
4  Australian Restaurant  0.09


----AINSLIE----
               venue  freq
0               Café   0.2
1                Pub   0.2
2  Fish & Chips Shop   0.2
3     Shopping Plaza   0.2
4      Grocery Store   0.2


----AMAROO----
                venue  freq
0  Athletics & Sports   1.0
1         Art Gallery   0.0
2     Organic Grocery   0.0
3           Multiplex   0.0
4         Music Store   0.0


----ARANDA----
                venue  freq
0                Café   0.4
1                 Bar   0.2
2        Dance Studio   0.2
3          Playground   0.2
4  Italian Restaurant   0.0


----BANKS----
           venue  freq
0  Grocery Store   1.0
1    Art Gallery   0.0
2          Motel   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----BARTON----
                  venue  freq
0                  Café  0.25
1                 Hotel  0.20
2           Social Club  0.10
3  Cantonese Restaurant  0.05
4                   Gym  0.05


----BEARD----
                        venue  freq
0  Construction & Landscaping   1.0
1                 Art Gallery   0.0
2                       Plaza   0.0
3                   Multiplex   0.0
4                 Music Store   0.0


----BELCONNEN----
               venue  freq
0               Café  0.08
1  Electronics Store  0.06
2        Bus Station  0.06
3        Coffee Shop  0.04
4  Indian Restaurant  0.04


----BLACK MOUNTAIN----
                 venue  freq
0             Mountain   0.2
1          Coffee Shop   0.2
2  Monument / Landmark   0.2
3       Scenic Lookout   0.2
4              Exhibit   0.2


----BONNER----
          venue  freq
0    Food Truck   1.0
1   Art Gallery   0.0
2  Optical Shop   0.0
3     Multiplex   0.0
4   Music Store   0.0


----BONYTHON----
             venue  freq
0      IT Services   0.5
1     Cupcake Shop   0.5
2      Art Gallery   0.0
3  Organic Grocery   0.0
4        Multiplex   0.0


----BRADDON----
                             venue  freq
0            Australian Restaurant  0.25
1                             Café  0.25
2                           Bistro  0.12
3                            Hotel  0.12
4  Molecular Gastronomy Restaurant  0.12


----BRUCE----
                venue  freq
0                Café  0.25
1  Child Care Service  0.25
2         Flower Shop  0.25
3       Grocery Store  0.25
4        Optical Shop  0.00


----CALWELL----
           venue  freq
0    Gas Station   1.0
1    Art Gallery   0.0
2          Motel   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----CAMPBELL----
          venue  freq
0      Bus Stop  0.33
1  Intersection  0.33
2      Mountain  0.33
3   Art Gallery  0.00
4  Optical Shop  0.00


----CAPITAL HILL----
                  venue  freq
0                  Café  0.33
1  Gym / Fitness Center  0.17
2             Gift Shop  0.17
3        History Museum  0.17
4               Theater  0.17


----CASEY----
                        venue  freq
0                Home Service   0.5
1  Construction & Landscaping   0.5
2                 Art Gallery   0.0
3                Optical Shop   0.0
4                   Multiplex   0.0


----CHAPMAN----
                     venue  freq
0              Supermarket   0.5
1                    Track   0.5
2              Art Gallery   0.0
3  North Indian Restaurant   0.0
4                 Mountain   0.0


----CHIFLEY----
            venue  freq
0            Café  0.25
1   Grocery Store  0.25
2  Shopping Plaza  0.25
3      Playground  0.25
4        Pharmacy  0.00


----CITY----
                  venue  freq
0                  Café  0.07
1           Coffee Shop  0.05
2       Thai Restaurant  0.03
3  Fast Food Restaurant  0.03
4             Bookstore  0.03


----CONDER----
                  venue  freq
0           Supermarket  0.18
1           Pizza Place  0.09
2                Bistro  0.09
3           Sports Club  0.09
4  Fast Food Restaurant  0.09


----COOK----
           venue  freq
0           Café  0.25
1  Grocery Store  0.25
2            Bar  0.25
3     Bike Trail  0.25
4    Art Gallery  0.00


----COOMBS----
           venue  freq
0            Gym   0.5
1       Pharmacy   0.5
2    Art Gallery   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----CRACE----
           venue  freq
0    IT Services  0.25
1      Gastropub  0.25
2           Park  0.25
3  Grocery Store  0.25
4    Art Gallery  0.00


----CURTIN----
                     venue  freq
0              Gas Station  0.14
1  Fruit & Vegetable Store  0.14
2                    Hotel  0.14
3              Supermarket  0.14
4              Coffee Shop  0.14


----DEAKIN----
         venue  freq
0         Café  0.33
1  Sports Club  0.17
2  Pizza Place  0.17
3  Supermarket  0.17
4          Gym  0.17


----DICKSON----
                           venue  freq
0                    Coffee Shop   0.1
1          Vietnamese Restaurant   0.1
2                       Pharmacy   0.1
3  Vegetarian / Vegan Restaurant   0.1
4                         Bakery   0.1


----DOWNER----
           venue  freq
0           Café   1.0
1          Plaza   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0


----DUFFY----
                        venue  freq
0                 Supermarket  0.33
1                 Coffee Shop  0.33
2  Construction & Landscaping  0.33
3                 Art Gallery  0.00
4     North Indian Restaurant  0.00


----DUNLOP----
           venue  freq
0       Bus Stop   1.0
1       Mountain   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0


----DUNTROON----
                venue  freq
0                Café  0.33
1         Golf Course  0.33
2         Sports Club  0.33
3  Photography Studio  0.00
4            Pharmacy  0.00


----EVATT----
                  venue  freq
0  Fast Food Restaurant  0.25
1                Bakery  0.25
2        Shopping Plaza  0.25
3         Grocery Store  0.25
4           Art Gallery  0.00


----FADDEN----
                     venue  freq
0             Veterinarian  0.33
1               Print Shop  0.33
2           Shopping Plaza  0.33
3              Art Gallery  0.00
4  North Indian Restaurant  0.00


----FARRER----
                   venue  freq
0                   Café  0.25
1         Shopping Plaza  0.25
2          Grocery Store  0.25
3  Sri Lankan Restaurant  0.25
4           Noodle House  0.00


----FISHER----
               venue  freq
0          Newsagent   0.5
1  Fish & Chips Shop   0.5
2        Art Gallery   0.0
3    Organic Grocery   0.0
4          Multiplex   0.0


----FLOREY----
                venue  freq
0         Pizza Place   0.2
1  Chinese Restaurant   0.2
2            Pharmacy   0.2
3         Supermarket   0.2
4      Shopping Plaza   0.2


----FLYNN----
           venue  freq
0    Gas Station   1.0
1    Art Gallery   0.0
2          Motel   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----FORDE----
             venue  freq
0             Café  0.25
1          Dog Run  0.25
2      Supermarket  0.25
3  Nature Preserve  0.25
4     Optical Shop  0.00


----FORREST----
                venue  freq
0               Hotel   0.4
1                Café   0.2
2         Coffee Shop   0.2
3         Sports Club   0.2
4  Photography Studio   0.0


----FRANKLIN----
           venue  freq
0       Bus Stop   1.0
1       Mountain   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0


----FRASER----
           venue  freq
0       Bus Stop   1.0
1       Mountain   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0


----FYSHWICK----
                  venue  freq
0                  Café   0.3
1  Fast Food Restaurant   0.2
2              Pie Shop   0.1
3                  Bank   0.1
4           Coffee Shop   0.1


----GARRAN----
          venue  freq
0   Supermarket  0.25
1  Home Service  0.25
2        Bakery  0.25
3     Newsagent  0.25
4   Art Gallery  0.00


----GIRALANG----
           venue  freq
0    Gas Station   1.0
1    Art Gallery   0.0
2          Motel   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----GORDON----
           venue  freq
0       Bus Stop   0.5
1            Spa   0.5
2       Mountain   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----GOWRIE----
                  venue  freq
0                  Café  0.25
1  Gym / Fitness Center  0.25
2        Shopping Plaza  0.25
3         Grocery Store  0.25
4             Multiplex  0.00


----GREENWAY----
               venue  freq
0        Coffee Shop  0.10
1        Supermarket  0.08
2  Electronics Store  0.05
3               Café  0.05
4        Auto Garage  0.05


----GRIFFITH----
                   venue  freq
0                  Hotel  0.22
1        Organic Grocery  0.11
2  Australian Restaurant  0.11
3  Vietnamese Restaurant  0.11
4          Go Kart Track  0.11


----GUNGAHLIN----
                  venue  freq
0           Supermarket  0.12
1        Ice Cream Shop  0.06
2          Liquor Store  0.06
3         Shopping Mall  0.06
4  Fast Food Restaurant  0.06


----HACKETT----
         venue  freq
0     Bus Stop  0.25
1  Supermarket  0.25
2        Trail  0.25
3  Rugby Pitch  0.25
4  Art Gallery  0.00


----HALL----
                   venue  freq
0                   Café  0.25
1  Australian Restaurant  0.25
2                  Trail  0.25
3                 Market  0.25
4           Optical Shop  0.00


----HARRISON----
           venue  freq
0       Bus Stop   1.0
1       Mountain   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0


----HAWKER----
             venue  freq
0   Baseball Field   1.0
1      Art Gallery   0.0
2  Organic Grocery   0.0
3        Multiplex   0.0
4      Music Store   0.0


----HIGGINS----
                     venue  freq
0                     Park  0.33
1           Shopping Plaza  0.33
2  Health & Beauty Service  0.33
3              Art Gallery  0.00
4             Optical Shop  0.00


----HOLDER----
           venue  freq
0    Supermarket   1.0
1    Art Gallery   0.0
2          Motel   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----HOLT----
                  venue  freq
0           Sports Club  0.13
1           Gas Station  0.13
2  Fast Food Restaurant  0.07
3        Sandwich Place  0.07
4           Pizza Place  0.07


----HUGHES----
               venue  freq
0               Café  0.33
1  Fish & Chips Shop  0.33
2         Playground  0.33
3       Optical Shop  0.00
4      Movie Theater  0.00


----HUME----
            venue  freq
0  Shipping Store  0.25
1     Gas Station  0.25
2      Print Shop  0.25
3    Climbing Gym  0.25
4     Art Gallery  0.00


----ISAACS----
            venue  freq
0      Playground   0.5
1  Shopping Plaza   0.5
2     Art Gallery   0.0
3   Movie Theater   0.0
4       Multiplex   0.0


----ISABELLA PLAINS----
            venue  freq
0     Pizza Place  0.25
1  Shopping Plaza  0.25
2    Dance Studio  0.25
3   Grocery Store  0.25
4    Optical Shop  0.00


----JACKA----
          venue  freq
0   Supermarket  0.33
1           Pub  0.33
2   Sports Club  0.33
3   Art Gallery  0.00
4  Noodle House  0.00


----KALEEN----
                venue  freq
0  Athletics & Sports  0.25
1         Supermarket  0.25
2      Shopping Plaza  0.25
3         Sports Club  0.25
4         Art Gallery  0.00


----KAMBAH----
                    venue  freq
0  Furniture / Home Store  0.25
1             Supermarket  0.25
2                  Bakery  0.25
3          Shopping Plaza  0.25
4             Art Gallery  0.00


----KENNY----
                  venue  freq
0           Art Gallery  0.25
1           Gas Station  0.25
2        Farmers Market  0.25
3  Fast Food Restaurant  0.25
4       Organic Grocery  0.00


----KINGSTON----
                venue  freq
0  Chinese Restaurant   0.2
1                Café   0.2
2  Italian Restaurant   0.2
3        Burger Joint   0.2
4       Train Station   0.2


----LATHAM----
           venue  freq
0   Soccer Field   0.5
1  Grocery Store   0.5
2    Art Gallery   0.0
3       Mountain   0.0
4      Multiplex   0.0


----LAWSON----
           venue  freq
0   Tennis Court   0.5
1   Soccer Field   0.5
2    Art Gallery   0.0
3          Motel   0.0
4  Movie Theater   0.0


----LYNEHAM----
                  venue  freq
0  Gym / Fitness Center  0.22
1           Sports Club  0.11
2    Chinese Restaurant  0.11
3                  Café  0.11
4                   Pub  0.11


----LYONS----
            venue  freq
0            Café   0.5
1  Shopping Plaza   0.5
2      Playground   0.0
3   Movie Theater   0.0
4       Multiplex   0.0


----MACARTHUR----
           venue  freq
0     Playground   1.0
1          Motel   0.0
2       Mountain   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----MACGREGOR----
           venue  freq
0           Park   1.0
1    Art Gallery   0.0
2   Optical Shop   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----MACQUARIE----
                     venue  freq
0        Health Food Store  0.11
1                   Bakery  0.11
2                     Café  0.11
3  Fruit & Vegetable Store  0.11
4           Shopping Plaza  0.11


----MAJURA----
                     venue  freq
0            Garden Center  0.43
1                     Café  0.29
2   Furniture / Home Store  0.14
3  Fruit & Vegetable Store  0.14
4                Multiplex  0.00


----MAWSON----
         venue  freq
0       Bakery  0.25
1  Pizza Place  0.17
2  Gas Station  0.17
3   Sports Bar  0.08
4  Social Club  0.08


----MCKELLAR----
                 venue  freq
0             Bus Stop  0.33
1   Chinese Restaurant  0.33
2  Japanese Restaurant  0.33
3          Art Gallery  0.00
4      Organic Grocery  0.00


----MELBA----
           venue  freq
0    Sports Club   1.0
1     Playground   0.0
2       Mountain   0.0
3  Movie Theater   0.0
4      Multiplex   0.0


----MITCHELL----
                    venue  freq
0  Thrift / Vintage Store   0.5
1                     Gym   0.5
2             Art Gallery   0.0
3           Movie Theater   0.0
4               Multiplex   0.0


----MOLONGLO----
                    venue  freq
0                    Café   0.2
1                Pharmacy   0.2
2                Bus Stop   0.2
3  Furniture / Home Store   0.2
4       Electronics Store   0.2


----MONASH----
            venue  freq
0        Bus Stop   0.5
1  Breakfast Spot   0.5
2     Art Gallery   0.0
3    Optical Shop   0.0
4       Multiplex   0.0


----MONCRIEFF----
           venue  freq
0       Bus Stop   1.0
1       Mountain   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0


----NARRABUNDAH----
                   venue  freq
0       Asian Restaurant   0.2
1  Australian Restaurant   0.2
2     Italian Restaurant   0.2
3         Shopping Plaza   0.2
4     Child Care Service   0.2


----NGUNNAWAL----
            venue  freq
0          Bakery  0.33
1  Shopping Plaza  0.33
2   Grocery Store  0.33
3     Art Gallery  0.00
4    Optical Shop  0.00


----NICHOLLS----
                   venue  freq
0  Australian Restaurant  0.33
1           Soccer Field  0.33
2          Grocery Store  0.33
3            Art Gallery  0.00
4           Optical Shop  0.00


----O'CONNOR----
                     venue  freq
0               Playground  0.33
1                     Park  0.33
2                 Bus Stop  0.33
3                 Pie Shop  0.00
4  North Indian Restaurant  0.00


----OAKS ESTATE----
                     venue  freq
0                      Pub  0.33
1            Train Station  0.33
2                    Motel  0.33
3              Art Gallery  0.00
4  North Indian Restaurant  0.00


----OXLEY----
            venue  freq
0  Scenic Lookout  0.33
1        Bus Stop  0.33
2    Home Service  0.33
3     Art Gallery  0.00
4       Multiplex  0.00


----PAGE----
                   venue  freq
0            Sports Club   0.2
1           Liquor Store   0.2
2                  Hotel   0.2
3  Vietnamese Restaurant   0.2
4         Shopping Plaza   0.2


----PALMERSTON----
                     venue  freq
0     Fast Food Restaurant  0.33
1           Shopping Plaza  0.33
2            Grocery Store  0.33
3              Art Gallery  0.00
4  North Indian Restaurant  0.00


----PARKES----
                     venue  freq
0           History Museum   0.4
1               Campground   0.2
2            Historic Site   0.2
3                   Garden   0.2
4  North Indian Restaurant   0.0


----PEARCE----
                  venue  freq
0     Indian Restaurant  0.25
1    Photography Studio  0.25
2  Ethiopian Restaurant  0.25
3                  Café  0.25
4             Irish Pub  0.00


----PHILLIP----
              venue  freq
0          Bus Stop  0.09
1  Department Store  0.06
2         Juice Bar  0.03
3    Sandwich Place  0.03
4              Café  0.03


----PIALLIGO----
                     venue  freq
0            Garden Center   0.4
1                     Café   0.2
2  Fruit & Vegetable Store   0.2
3                    River   0.2
4             Optical Shop   0.0


----RED HILL----
                 venue  freq
0             Bus Stop   0.5
1  Martial Arts School   0.5
2          Art Gallery   0.0
3         Optical Shop   0.0
4            Multiplex   0.0


----REID----
                     venue  freq
0            Memorial Site   0.8
1                     Park   0.2
2              Art Gallery   0.0
3  North Indian Restaurant   0.0
4            Movie Theater   0.0


----RICHARDSON----
           venue  freq
0    IT Services   0.5
1  Historic Site   0.5
2    Art Gallery   0.0
3   Optical Shop   0.0
4  Movie Theater   0.0


----RIVETT----
            venue  freq
0  Massage Studio   0.5
1  Shopping Plaza   0.5
2     Art Gallery   0.0
3        Mountain   0.0
4       Multiplex   0.0


----RUSSELL----
         venue  freq
0         Café  0.25
1        Plaza  0.25
2  Coffee Shop  0.25
3   Playground  0.25
4    Irish Pub  0.00


----SCULLIN----
                venue  freq
0  Chinese Restaurant  0.25
1            Bus Stop  0.25
2              Bakery  0.25
3      Shopping Plaza  0.25
4         Art Gallery  0.00


----SPENCE----
               venue  freq
0  Convenience Store  0.25
1      Shopping Mall  0.25
2      Grocery Store  0.25
3           Mountain  0.25
4        Art Gallery  0.00


----STIRLING----
                venue  freq
0    Basketball Court  0.33
1         Social Club  0.33
2          Playground  0.33
3  Photography Studio  0.00
4            Pharmacy  0.00


----SYMONSTON----
             venue  freq
0             Café  0.33
1            Motel  0.33
2          Dog Run  0.33
3  Organic Grocery  0.00
4        Multiplex  0.00


----THEODORE----
            venue  freq
0  Shopping Plaza   1.0
1     Art Gallery   0.0
2      Playground   0.0
3   Movie Theater   0.0
4       Multiplex   0.0


----TORRENS----
            venue  freq
0        Bus Stop   0.5
1  Shopping Plaza   0.5
2        Mountain   0.0
3   Movie Theater   0.0
4       Multiplex   0.0


----TURNER----
                   venue  freq
0            Sports Club  0.33
1                  Hotel  0.17
2  Vietnamese Restaurant  0.17
3            Social Club  0.17
4            Rooftop Bar  0.17


----WANNIASSA----
              venue  freq
0    Ice Cream Shop  0.17
1           Theater  0.17
2       Gas Station  0.17
3  Football Stadium  0.17
4    Sandwich Place  0.17


----WARAMANGA----
            venue  freq
0     Supermarket  0.33
1    Soccer Field  0.33
2  Shopping Plaza  0.33
3     Art Gallery  0.00
4    Noodle House  0.00


----WATSON----
                 venue  freq
0                 Café   0.2
1          Supermarket   0.2
2  Filipino Restaurant   0.2
3    Fish & Chips Shop   0.2
4       Shopping Plaza   0.2


----WESTON----
                  venue  freq
0                  Café  0.25
1    Athletics & Sports  0.25
2  Fast Food Restaurant  0.25
3        Sandwich Place  0.25
4       Organic Grocery  0.00


----YARRALUMLA----
           venue  freq
0       Bus Stop   1.0
1       Mountain   0.0
2  Movie Theater   0.0
3      Multiplex   0.0
4    Music Store   0.0

In [17]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [18]:
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = cbr_grouped['Neighborhood']

for ind in np.arange(cbr_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(cbr_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,ACTON,Hotel,Café,Multiplex,Indie Movie Theater,Australian Restaurant
1,AINSLIE,Café,Pub,Fish & Chips Shop,Shopping Plaza,Grocery Store
2,AMAROO,Athletics & Sports,Art Gallery,Organic Grocery,Multiplex,Music Store
3,ARANDA,Café,Bar,Dance Studio,Playground,Italian Restaurant
4,BANKS,Grocery Store,Art Gallery,Motel,Movie Theater,Multiplex

In [19]:
# set number of clusters
kclusters = 5

cbr_grouped_clustering = cbr_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(cbr_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:5]

# add clustering labels
neighborhoods_venues_sorted.insert(1, 'Cluster Labels', kmeans.labels_)
neighborhoods_venues_sorted.tail()

/tmp/ipykernel_12396/2566696624.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  cbr_grouped_clustering = cbr_grouped.drop('Neighborhood', 1)

,Neighborhood,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
104,WANNIASSA,3,Ice Cream Shop,Theater,Gas Station,Football Stadium,Sandwich Place
105,WARAMANGA,3,Supermarket,Soccer Field,Shopping Plaza,Art Gallery,Noodle House
106,WATSON,3,Café,Supermarket,Filipino Restaurant,Fish & Chips Shop,Shopping Plaza
107,WESTON,2,Café,Athletics & Sports,Fast Food Restaurant,Sandwich Place,Organic Grocery
108,YARRALUMLA,1,Bus Stop,Mountain,Movie Theater,Multiplex,Music Store

In [20]:
# merge dataset and check output
cbr_merged = pd.merge(cbr_geo, neighborhoods_venues_sorted, on='Neighborhood')
cbr_merged.tail()

,Neighborhood,Postcode,Country,Region,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
104,WANNIASSA,2903,Australia,Australian Capital Territory,-35.40288,149.09194,3,Ice Cream Shop,Theater,Gas Station,Football Stadium,Sandwich Place
105,WARAMANGA,2611,Australia,Australian Capital Territory,-35.35330,149.06017,3,Supermarket,Soccer Field,Shopping Plaza,Art Gallery,Noodle House
106,WATSON,2602,Australia,Australian Capital Territory,-35.24131,149.15731,3,Café,Supermarket,Filipino Restaurant,Fish & Chips Shop,Shopping Plaza
107,WESTON,2611,Australia,Australian Capital Territory,-35.33650,149.05515,2,Café,Athletics & Sports,Fast Food Restaurant,Sandwich Place,Organic Grocery
108,YARRALUMLA,2600,Australia,Australian Capital Territory,-35.30590,149.10672,1,Bus Stop,Mountain,Movie Theater,Multiplex,Music Store

In [22]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11, tiles="CartoDB dark_matter")

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(cbr_merged['Latitude'], cbr_merged['Longitude'], cbr_merged['Neighborhood'], cbr_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

NameError: name 'latitude' is not defined

In [28]:
# cluster 0
cbr_merged.loc[cbr_merged['Cluster Labels'] == 4, cbr_merged.columns[[1] + list(range(5, cbr_merged.shape[1]))]]

,Postcode,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
13,2905,149.10920,4,Gas Station,Art Gallery,Monument / Landmark,Mountain,Movie Theater
36,2615,149.04430,4,Gas Station,Art Gallery,Monument / Landmark,Mountain,Movie Theater
43,2617,149.09891,4,Gas Station,Art Gallery,Monument / Landmark,Mountain,Movie Theater